@model PUSH_DEMO.Controllers.HfController
@{
    ViewData["Title"] = "Hangfire Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <form asp-action="createproduct" method="POST">
        <button type="submit">Create Product</button>
    </form>
</div>

